<ion-content [fullscreen]="true">
  <div id="container">
    <h1>Home</h1>

    <p>You have successfully logged in.</p>
    <br />

    <p>This view is only accessible by authenticated users.</p>
    <br />

    <!-- <p>User ID: XXX</p> -->
    <p>User ID: {{ userId }}</p>
    <br />

    <hr />

    <!-- <p>Email Connected: No</p>

    <div class="btn-div">
      <ion-button>Connect Email</ion-button>
    </div>

    <hr />

    <p>Wallets Connected: 0</p>

    <div class="btn-div">
      <ion-button>Connect Metamask Wallet</ion-button>
    </div>
    <div class="btn-div">
      <ion-button>Connect WalletConnect Wallet</ion-button>
    </div>

    <hr /> -->

    <!-- <div class="btn-div">
      <ion-button (click)="sampleNavigateToExternalSite()">External Site</ion-button>
    </div>

    <hr /> -->

    <div class="btn-div">
      <ion-button (click)="sampleLogOut()">Log Out</ion-button>
    </div>
  </div>
</ion-content>
