<ion-content [fullscreen]="true">
  <div id="container">
    <!-- <h1>Login</h1>

    <p>Please click below to sign in.</p>

    <div class="btn-div">
      <ion-button (click)="sampleLogIn()">Sign In with Magic Link</ion-button>
    </div>

    <div class="btn-div">
      <ion-button (click)="loginWithWallet('wallet-metamask')">Sign In with Metamask</ion-button>
    </div>

    <div class="btn-div">
      <ion-button (click)="loginWithWallet('wallet-walletconnect')">Sign In with WalletConnect</ion-button>
    </div>

    <hr> -->

    <!-- <div class="btn-div">
      <ion-button [routerLink]="['/sign-up']">Sign Up Instead</ion-button>
    </div> -->

    <h1>Loading...</h1>

  </div>
</ion-content>
